<script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>

<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
    }
  }
</script>

<div class="layout-content">
  <div id="app" class="redirect-card content-card">
    <head>
      <title>My Days | Redirect Tool</title>
    </head>
    <link rel="stylesheet" href="../../base.css" />
    <link rel="stylesheet" href="./index.css" />

    <div class="content-card__title">Mobile Redirect Tool</div>
    <template v-if="!redirectUrl">
      <div class="redirect-card__description">
        Enter a shared message (with link) from the My Days app to parse and open in the mobile app.
      </div>
      <textarea
        v-model.trim="linkInput"
        class="text-input redirect-card__input"
        :disabled="redirecting"
        placeholder="Enter shared text"
        type="url"
      ></textarea>
      <div v-if="linkError" class="redirect-card__input-error">{{ linkError }}</div>
      <div class="redirect-card__alert">
        If mobile app does not open via link, make sure it is installed!
      </div>
      <button
        class="button redirect-card__submit"
        :disabled="!linkInput || redirecting"
        @click="handleSubmitRedirect"
      >
        Redirect
      </button>
    </template>
    <template v-else>
      <div class="redirect-card__description">
        Open this link in My Days app to add the shared day!
      </div>
      <a class="redirect-card__link" :href="redirectUrl">{{ redirectUrl }}</a>
      <div class="redirect-card__alert">
        If mobile app does not open via link, make sure it installed!
      </div>
      <button class="button redirect-card__submit" @click="clearInitialParse">Parse message</button>
    </template>
  </div>
  <div class="layout-links">
    <a
      href="https://play.google.com/store/apps/details?id=ca.kendallroth.my_days&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
      target="_blank"
    >
      <img
        alt="Get it on Google Play"
        height="64"
        src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
      />
    </a>
    <a
      href="https://apps.apple.com/us/app/my-days/id1669868291?itsct=apps_box_badge&amp;itscg=30200"
      target="_blank"
    >
      <img
        src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1675641600"
        alt="Download on the App Store"
        height="64"
        style="padding: 10px; box-sizing: border-box"
      />
    </a>
  </div>
</div>

<script type="module">
  import { createApp } from "vue";

  // A day has been shared with you from My Days! Follow this link to add 'Android Test' to the app!
  // https://my-days.kendallroth.ca/mobile/redirect?mobileRedirectUrl={{url}}

  createApp({
    data() {
      return {
        linkInput: "",
        linkError: null,
        redirecting: false,
        redirectUrl: null,
      };
    },
    mounted() {
      this.parseInitialUrl(window.location.search);
    },
    methods: {
      clearInitialParse() {
        this.redirectUrl = null;
        this.linkError = null;
      },
      parseInitialUrl(queryString) {
        // URL params are used to send information from redirect link for future mobile app redirect
        const urlParams = new URLSearchParams(queryString);

        const mobileRedirectUrl = urlParams.get("url") ?? null;
        if (!mobileRedirectUrl) return;

        this.redirectUrl = mobileRedirectUrl;

        this.redirectToApp(mobileRedirectUrl);
      },
      handleSubmitRedirect() {
        this.linkError = null;
        this.redirecting = false;

        if (!this.linkInput) {
          this.linkError = "Message text is required";
          return;
        }

        const urlRegex =
          /(\b(exp|my-days(\-preview|\-dev)?):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gi;
        const [urlMatch] = this.linkInput.match(urlRegex) ?? [];
        if (!urlMatch) {
          this.linkError = "Valid redirect URL not found";
          return;
        }

        try {
          const parsedUrl = new URL(urlMatch);
        } catch {
          this.linkError = "Valid redirect URL not found";
          return;
        }

        console.log("Parsed URL", urlMatch);
        this.redirectToApp(urlMatch);
      },
      redirectToApp(appLink) {
        // Redirection will fail if the app is not installed, and cannot be caught easily...
        setTimeout(() => {
          this.redirecting = false;
        }, 1000);

        this.redirecting = true;
        window.location.replace(appLink);
      },
    },
  }).mount("#app");
</script>
